
/* Reset some default styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
}

#root {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Animation only for logos if needed */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .spin-logo {
    animation: logo-spin infinite 20s linear;
  }
}
